.editor {
    margin: 5px;
    padding: 5px;
    width: 60%;
    background-color: #8a8787;
    flex-wrap: wrap;
    align-self: center;
}

.editor-part {
    flex-direction: column;
}



.editor-btns {
    flex-wrap: wrap;
    margin: 10px 0;
    flex-direction: column;
}

.line-btns {
    align-items: center;
    flex-direction: column;
    width: 100%;
    align-self: center;
}

.editor-btns-first-line {
    border-top: 2px solid rgb(0, 0, 0);
}

.editor-btns-first-line, .editor-btns-second-line, .editor-btns-third-line, .editor-btns-fourth-line {
    border-bottom: 2px solid rgb(12, 12, 12);
    border-left: 2px solid rgb(12, 12, 12);
    border-right: 2px solid rgb(12, 12, 12);
}

.editor-btns-fourth-line .btn {
    padding-bottom: 35px;
}


.txt-shadow-white-btn {
    background-color: white;
    box-shadow: inset 0px 0px 0px 14px #363636;
}

.txt-shadow-black-btn {
    background-color: black;
    box-shadow: inset 0px 0px 0px 13px #363636;
}

.textlabel, .line-input {
    padding: 5px;
    margin: 5px;
}

.only-txt {
    font-size: 0.85rem;
    cursor: initial;
    font-family: arial;
    text-align: center;
    line-height: 50px;
    font-size: 1rem;
    font-weight: bold;
}


.txt-container {
    flex-direction: column;
    width: 100%;
}

.only-txt-size-btn, .font-list-btn, .only-txt-font, .only-txt-shadow {
    width: 132px;
}


.download:active {
    color: white;
}

.hide {
    display: none;
}


footer {
    background-color: #363636;
    color: wheat;
    padding: 50px;
    text-align: center;
}