.canvas {
    border: 1px solid #dad7d7;
    align-self: center;
    margin: 5px;
    padding: 5px;
    width: 50%;
    margin: 30px;
}


.download-btn, .download-btn a, .upload-btn, .upload-btn a {
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: rgb(59, 129, 233);
    padding: 0;
}

.download-btn a, .upload-btn a {
    /* display: block; */
    padding: 0;
    width: 100%;
}

.download:active {
    color: white;
}

.add-line-btn, .btn-danger, .right, .left, .up, .down {
    height: 50px;
}

.add-line-btn {
    width: 160px;
}

.btn-danger, .right, .left, .up, .down {
    width: 52px;
}

.btn-danger:hover, .btn-danger:active {
    color: red;
    background-color: rgb(73, 73, 73);
}

.line-btns {
    align-items: center;
    flex-direction: column;
    width: 100%;
    align-self: center;
}

.txt-container {
    flex-direction: column;
    width: 100%;
}

.color-btn, .txt-align-btn, .size-plus-btn, .size-minus-btn, .txt-shadow-btn, .only-txt-font {
    width: 66px;
}

.font-list-btn {
    padding: 15px;
}

.size-plus-btn, .size-minus-btn, .btn-danger, .txt-align-btn, .right, .left, .up, .down {
    font-size: 1.4rem;
}

.sharing {
    gap: 5px;
}

.sharing a {
    color: black;
    width: max-content;
    text-decoration: none;
    padding: 3px 7px;
}

.share-container {
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 5px 0px #000;
    background-color: lightblue;
}


.upload-file-container input {
    width: 80px;
}